//columns from geekdocs
// Used in layout
$padding-2: 0.125rem !default;
$padding-4: 0.25rem !default;
$padding-8: 0.5rem !default;
$padding-12: 0.75rem !default;
$padding-16: 1rem !default;
$padding-20: 1.25rem !default;
$padding-24: 1.5rem !default;
$padding-32: 2rem !default;
$padding-48: 3rem !default;
$padding-64: 4rem !default;
$padding-96: 6rem !default;
$body-min-width: 40rem !default;

.columns {
    margin: $padding-16 0;
    text-align: left;

    &--regular > :first-child {
      flex: 1;
    }

    &--small > :first-child {
      flex: 0.35;
      min-width: $body-min-width * 0.35;
    }

    &--large > :first-child {
      flex: 1.65;
      min-width: $body-min-width * 1.65;
    }

    &__content {
      flex: 1 1;
      min-width: $body-min-width * 0.66;
      padding: 0;
    }
}