{{- $size := default "regular" (.Get "size" | lower) }}

{{- if not (in (slice "regular" "large" "small") $size) }}
  {{- $size = "regular" }}
{{- end }}

<!-- Based on geekdoc columns Need to get the CSS figured out for it Might need to add here directly???-->
<div class="columns columns--{{ $size }} flex flex-gap flex-mobile-column measure-extra-wide">
  {{- range split .Inner "<--->" }}
    <div class="columns__content flex-even">
      {{ . | $.Page.RenderString -}}
    </div>
  {{- end }}
</div>